body {
  position: absolute;
  width: 95%;
  left: 2.5%;
  background-image: url("sumnarift.jpg");
  background-attachment: fixed;
  margin-bottom: 400px;
  font-family: 'Roboto', sans-serif;
}

button {
  height: 64px;
  width: 64px;
  border: solid 1px;
  border-color: black;
  border-radius: 10px;
  margin-bottom: 2px;
}

h1 {
  font-size: 3rem;
  text-align: center;
  color: white;
}

#navbar {
  position: fixed;
  height: 325px;
  width: 100%;
  left: 0%;
  background-color: black;
}

#item1-image {
  position: relative;
  background-color: #bdbdbd;
  height: 64px;
  width: 64px;
  left: 0%;
  border: solid 1px;
  border-color: black;
  border-radius: 10px;
  text-align: left;
}

.info {
  font-size: 1.5rem;
  list-style-type: none;
}

#combo-image {
  position: relative;
  background-color: #bdbdbd;
  height: 64px;
  width: 64px;
  left: 0%;
  border: solid 1px;
  border-color: grey;
  border-radius: 10px;
  text-align: left;
}

#item2-image {
  position: relative;
  background-color: #bdbdbd;
  height: 64px;
  width: 64px;
  left: 0%;
  border: solid 1px;
  border-color: grey;
  border-radius: 10px;
  text-align: left;
}

.name {
  font-size: 24px;
  position: relative;
  left: 10px;
}

.cost {
  position: relative;
  font-size: 18px;
  font-style: italic;
  text-align: center;
}

.stats {
  position: relative;
  font-size: 18px;
  text-align: center;
  margin: 6px;

}

.thumbnail {
  background-color: rgba(240, 240, 240, 1)
}

#first_item {
  position: absolute;
  top: 1%;
  height: 320px;
  width: 32%;
  left: 1%;
  overflow: scroll;
}

#combo_item {
  position: absolute;
  top: 1%;
  height: 320px;
  width: 32%;
  left: 34%;
  overflow: scroll;
}

#second_item {
  position: absolute;
  top: 1%;
  height: 320px;
  width: 32%;
  left: 67%;
  overflow: scroll;
}

#reset-button {
  background-image: url("item/3637.png");
}

#swap-button {
  background-image: url("item/3642.png");
}

#reset-text {
  color: white;
  font-size: 3rem;
}

#swap-text {
  color: white;
  font-size: 3rem;
}


/* The styling below is for screens with a max width
of 480px (mobile phones). The browser will detect
the screen size and override the previous styling */

@media screen and (max-width: 480px) {
  body {
    position: absolute;
    width: 100%;
  }
  h3 {
    font-size: 1.5rem;
  }
  .info {
    font-size: 1.5rem;
    overflow: scroll;
    padding: 0;
  }
}
